<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" href="static/main.css">


</head>

<body>

  <div class='navbar'>
    <button id='teamtabbutton' class='lefttab' onclick='clickteamtab()'>TEAM</button>
  <button id='playertabbutton' class='righttab' onclick='clickplayertab()'>PLAYER</button>
</div>


  <div id='teamtab'>

  <form name='teamdata' action='/teamdata'>
    <h3 class='yearboxtext'>YEAR</h3>

    <select name="year" id="year" onchange="enableteamselector()">
      <option value="noneselected"></option>
      {% for year in range(1997, 2021) %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>

    <h3 class='teamboxtext'>TEAM</h3>
    <select name="team" id="team" onchange='onteamselected()'>
      <option value="none"></option>
    </select>

    <input class="btn" id='teamsubmit' name='submit' type="submit" value="Search">
  </form>


  <img id='teamimage'>

  <p>Offensive: {{ offensive }}</p>
  <p>Defensive: {{ defensive }}</p>
  <p>Total: {{ total }}</p>

</div>

<div id='playertab'>
  <form name='playerdata' action='/playerdata'>
    <input type='text' name='name' id='name'>


    <select name="playeryear" id="playeryear">
      <option value="none"></option>
      {% for year in range(1997, 2021) %}
      <option value="{{ year }}">{{ year }}</option>
      {% endfor %}
    </select>
    <input class="btn" name='submit' type="submit" value="Search">
  </form>

  <p>{{ playerstats }}</p>
</div>

<script src="static/teamseveryyear.json"></script>
<script src='static/main.js'></script>
</body>

</html>
